# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=retailcorp_dw
POSTGRES_USER=dw_user
POSTGRES_PASSWORD=dw_password

# dbt profiles dir (aponta para dbt_project/profiles.yml)
DBT_PROFILES_DIR=./dbt_project

# Streamlit
STREAMLIT_SERVER_PORT=8501
